body {
    background-image: url(images/fancy-pants.jpg);
    margin: 20px 10px 0 10px;
}

.header {
    display: flex;
    align-items: flex-start;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.logo>img {
    width: 100px;
    height: 100px;
}

nav {
    margin-right: 15px;
    width: 80%;
}

.menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

h1 {
    color: #fff;
    font-size: 1.5em;
}

.redline {
    width: 80%;
    border-bottom: solid;
    border-color: #f10707;
}

.blueline {
    width: 80%;
    border-bottom: solid;
    border-color: #7072ee;
}
li{
    list-style-type: none;
}
.menu-ul>li>ul>li {
    font-size: 0.9em;
    color: #fff;
}
/*header ok*/
.wallpaperdog{
    background-image: url(images/WallpaperDog.jpg);
}

