body {
    background-image: url(images/fancy-pants.jpg);
    margin: 20px 10px 0 10px;
}

.header {
    display: flex;
    padding: 20px;
    box-sizing: border-box;

}

.logo {

    text-align: center;
    width: 20%;
}

.logo>img {
    width: 100px;

}

nav {

    width: 80%;
}

.menu-ul {
    display: flex;

    justify-content: end;
}


h1 {
    color: #fff;
    font-size: 1.5em;
}

.redline {
    width: 80%;
    border-bottom: solid;
    border-color: #f10707;
}

.blueline {
    width: 80%;
    border-bottom: solid;
    border-color: #7072ee;
}

li {
    list-style-type: none;
}

.menu-ul>li>ul>li {
    font-size: 0.9em;
    color: #fff;
}

/*header ok*/
.wallpaperdog {
    display: flex;

    border-top: solid #fff 10px;
    border-bottom: solid #fff 10px;
    background-image: url(images/WallpaperDog.jpg);
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-evenly;
}

.wallpaperdog div img {
    width: 100%;

}

.lorem {
    color: #fff;
    margin: 30px;
    font-size: large;
}

/* A verifier*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
    padding: 20px;
}



.welcome {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;

}

.lastest {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;

}

.our {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
}

.flexible {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 20px;
}

.subtitle {
    font-style: italic;
    font-weight: lighter;
}

.welcome>img {
    width: 200px;
}

h2 {
    color: coral;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

p {
    font-weight: bold;
}